<%- include('partials/header', {titulo: 'Minhas transações'}) %>

<h2>Login</h2>

<div class="auth-container">
  <form method="POST" action="/login" class="auth-form" id="loginForm">
    <input type="text" name="usuario" placeholder="Usuário" required>
    <input type="password" name="senha" placeholder="Senha" required>
    <button type="submit">Entrar</button>
  </form>
  <a href="/register">Criar Conta</a>
</div>
<script src="/script/auth.js"></script>
<%- include('partials/footer') %>